Reflex/.idea
Reflex/Library
Reflex/Logs
Reflex/obj
Reflex/Temp
*.csproj
*.sln
Reflex.Benchmark/.idea
Reflex.Benchmark/Library
Reflex.Benchmark/Logs
Reflex.Benchmark/obj
Reflex.GettingStarted/.idea
Reflex.GettingStarted/Library
Reflex.GettingStarted/obj
Reflex.GettingStarted/Logs
Reflex.GettingStarted/Temp
Reflex.PlatformBackendTests/.idea
Reflex.PlatformBackendTests/Library
Reflex.PlatformBackendTests/Logs
Reflex.PlatformBackendTests/obj
Reflex.Tests/.idea
Reflex.Tests/Library
Reflex.Tests/Logs
Reflex.Tests/obj
Reflex.Benchmark/Temp
